{:min-bb-version "0.4.0"
 :tasks
 {test {:doc "run test suite"
        :task (do
                (println "initializing brokers ..")
                (shell "docker compose up -d")
                (println "running tests ..")
                (try 
                  (shell "clj -X:test")
                  (catch Exception e
                    (println "Tests failed with exception:" (.getMessage e))
                    (throw e))
                  (finally
                    (println "stopping brokers")
                    (shell "docker compose down"))))}
  int {:doc "run integration tests"
       :task (shell "clj -X:integration")}
  gauge-capability {:doc "evaluate broker implementations"
                    :task (shell "clj -X:broker-caps")}
  fmt-fix {:doc "fix formatting issues"
           :task (shell "clj -M:cljfmt fix")}
  fmt-check {:doc "check formatting issues"
             :task (shell "clj -M:cljfmt check")}
  lint {:doc "lint src and test directories"
        :task (do
                (println "linting with clj-kondo")
                (shell "clj-kondo --lint bb.edn deps.edn src test --fail-level error"))}}}
