body {
  font-family: sans-serif, Arial;
  margin: 0;
  padding: 0;
  background-color: #F2F4FD;
  color: #585454;
}

header nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  height: 50vh;
  display: flex;
  align-items: center;
}

.nav-start {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: #5881D8 !important;
}

a{
  text-decoration: none;
  color: #5881D8;
}

dialog {
  border: none;
}

#menu .app-name {
  font-size: 1.3rem;
  color: #585454;
  margin-left: 15px;
}

.goose-logo a img {
  margin-left: 15px;
  height: 35px;
  float: left;
  overflow: auto;
}

#menu a {
  text-decoration: none;
  color: #333;
  margin-left: 1em;
  font-size: 1em;
}

.disabled {
  pointer-events: none;
  color: #b2a9a9 !important;
}

.highlight {
  color: #c8702A !important;
  font-weight: bold;
}

.statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: -webkit-fill-available;
}

.stat {
  text-align: center;
  display: grid;
}

.stat .number {
  color: #C87021;
  /* or any other color you prefer */
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stat .label {
  color: #333;
  font-size: 18px;
}

/* Buttons */
.btn {
  padding: 7px 10px;
  margin: 0 5px;
  border-radius: 4px;
  background-color: #5881D8;
  color: #fff;
  border: none;
  font-weight: bold;
  transition: box-shadow 0.3s ease;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.btn-lg {
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.3333;
  border-radius: 6px;
}

.btn-action {
  background-color: #fff;
  color: #5881D8;
  border: #5881D8 solid 1px;
}

.btn-danger {
  background-color: #fff;
  color: #DB460F;
  border: #DB460F solid 1px;
}

.btn-cancel {
  color: #5881D8;
  background-color: #d9d9d9;
}

button:active {
  opacity: 0.8;
}

/* Redis Enqueued Page  */

.redis-enqueued-main-content {
  margin: 3em;
}

.redis-enqueued-main-content h1 {
  color: #5881D8;
}

.redis-enqueued-main-content .content {
  display: grid;
  grid-template-columns: 20% 80%;

}

.redis-enqueued-main-content .selected {
  color: #C87021;
}

.redis-enqueued-main-content .pagination a {
  padding: 10px;
}

/* Sidebar */

.redis-enqueued-main-content #sidebar {
  padding-top: 30px;
}

.redis-enqueued-main-content .queue-list {
  width: 170px;
  box-sizing: border-box;
  height: 60vh;
  padding: auto;

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #c4d0ec transparent;
}

.redis-enqueued-main-content .queue-list ul {
  list-style: none;
  padding: 0;
}

.redis-enqueued-main-content .queue-list ul a {
  color: #5881D8;
}

.redis-enqueued-main-content .queue-list-item {
  padding-bottom: 10px;
  margin-bottom: 5px;
}

/* Right side sticky header and table content */

.redis-enqueued-main-content .right-side {
  padding-top: 30px;
}

.redis-enqueued-main-content .pagination {
  justify-content: center;
  display: flex;
  margin: 10px;
  height: 2em;
}

/* Sticky Header */

.redis-enqueued-main-content .header {
  background-color: #9FACC5;
  height: 50px;
  display: flex;
}

.redis-enqueued-main-content .header .filter-opts {
  width: 80%;
  margin: auto;
  display: flex;
}

.redis-enqueued-main-content .header .filter-opts input,
select {
  padding: 6px 8px;
  margin: 2px 0;
  display: inline-block;
  border: none;
}

.redis-enqueued-main-content .header .filter-opts-items {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.redis-enqueued-main-content .header .filter-opts-items .limit {
  background-color: #fff;
  font-size: small;
  margin: auto;
  padding: 7px 20px;
}

.redis-enqueued-main-content .header .action-buttons {
  width: 20%;
  margin: auto;
  text-align: center;
}

/* Enqueued Jobs Table */


.redis-enqueued-main-content .job-table {
  width: 100%;
  border-collapse: collapse;
  text-align: justify;
}

.redis-enqueued-main-content .job-table th, td {
  padding: 12px;
  border: 1px solid #ddd;
  white-space: nowrap;
}

.redis-enqueued-main-content .job-table th {
  background-color: #fff;
}

.redis-enqueued-main-content .job-table th .id-h {
  width: 40%;
}

.redis-enqueued-main-content .job-table .id {
  color: #5881D8;
}

.redis-enqueued-main-content .job-table .execute-fn-symbol-h {
  width: 10%;
}

.redis-enqueued-main-content .job-table .args-h {
  width: 10%;
}

.redis-enqueued-main-content .job-table .enqueued-at-h {
  width: 20%;
}

.redis-enqueued-main-content .job-table .select {
  width: 20%;
  text-align: center;
}

/* Bottom Purge Button  */
.redis-enqueued-main-content .bottom {
  margin-top: 50px;
  justify-content: end;
  display: flex;
}

::backdrop {
  opacity: 0.75;
}

.dialog-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
